@import url('https://fonts.googleapis.com/css2?family=Domine:wght@600&family=Montserrat:wght@400;600;700&family=Poppins:wght@500;600;700&display=swap');


body{
    font-family: 'Poppins', sans-serif;
}
.panda-bg-info{
    background-color: #fceae8;
}
.text-pink{
    color: rgba(238, 13, 51, 0.877);
}
.panda-button{
    background-image: linear-gradient(rgb(240, 76, 103),rgb(238, 13, 51));
    color: white;
    padding: 5px 30px;
    border-radius: 10px;
    border: none;

}
.categories img{
    width: 100px;
}